tei_cei.xpr
authen.skos.ttl-Dateien/
authen.skos.ttl.html
cei_in/IlluminierteUrkunden_backup
OldFiles/
.Rproj.user
Poster_dh2019
/.idea/
/id_transform.xsl
/exampleCharters/
/out/
/exampleCharters/*.xml
/tei_out/
